<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Шаблон сайта</title>
<meta name="keywords" content="">
<meta name="description" content="">
<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" type="text/css" media="screen">
</head>
<body>
<div id="content">
  <form method="POST" enctype="multipart/form-data">
<!-- Область около изображения -->
	<div id="text">
	Загрузите снимок рентгена легких в формате ".png" и нажмите кнопку "Анализ"
	</div>
    <div id="container">
        <p> </p>
        <div> Id пациента в МИС: {{ patient_id }}</div>
	    <div id="image">
{#	    	<img id="previewImg" src="{{ url_for('static', filename='images/default_image.png') }}" alt="Превью изображения" style="max-width: 100%; max-height: 100%;">#}
{#            <img id="previewImg" src="{{ orig_image }}" alt="Превью изображения" style="max-width: 100%; max-height: 100%;">#}
            <img id="previewImg" src="data:image/png;base64,{{ orig_image }}" alt="Превью изображения" style="max-width: 100%; max-height: 100%;">
{#            <img id="previewImg" src="{{ url_for('static', filename=temp_image_path) }}" alt="Превью изображения" style="max-width: 100%; max-height: 100%;">#}
            <div id="fileName"> </div>
        </div>
	    <div id="button">
            <input type="file" name="file" accept=".png" style="display: none;" id="fileInput" onchange="displayPreview()">
	    	<button type="button" onclick="document.getElementById('fileInput').click()">Загрузить</button>
	    	<input type="submit" name="analysis" value="  Анализ  " />
	    </div>
    </div>
      <!-- Добавляем таблицу -->
    <div id="table">
        <table>
            <caption>{{ table_caption }}</caption>
            <tr>
{#                <td><img src="{{ url_for('static', filename='heatmaps/Atelectasis.png') }}" alt="Ячейка 1" style="max-width: 100%; max-height: 100%;"></td>#}
                <td><img src="data:image/png;base64,{{ atelectasis }}" alt="Ячейка 1" style="max-width: 100%; max-height: 100%;"></td>
                <td><img src="data:image/png;base64,{{ cardiomegaly }}" alt="Ячейка 2" style="max-width: 100%; max-height: 100%;"></td>
                <td><img src="data:image/png;base64,{{ effusion }}" alt="Ячейка 3" style="max-width: 100%; max-height: 100%;"></td>
                <td><img src="data:image/png;base64,{{ infiltration }}" alt="Ячейка 4" style="max-width: 100%; max-height: 100%;"></td>
                <td><img src="data:image/png;base64,{{ mass }}" alt="Ячейка 5" style="max-width: 100%; max-height: 100%;"></td>
                <td><img src="data:image/png;base64,{{ nodule }}" alt="Ячейка 6" style="max-width: 100%; max-height: 100%;"></td>
                <td><img src="data:image/png;base64,{{ pneumonia }}" alt="Ячейка 7" style="max-width: 100%; max-height: 100%;"></td>
            </tr>
            <tr>
                <td><img src="data:image/png;base64,{{ pneumothorax }}" alt="Ячейка 8" style="max-width: 100%; max-height: 100%;"></td>
                <td><img src="data:image/png;base64,{{ consolidation }}" alt="Ячейка 9" style="max-width: 100%; max-height: 100%;"></td>
                <td><img src="data:image/png;base64,{{ edema }}" alt="Ячейка 10" style="max-width: 100%; max-height: 100%;"></td>
                <td><img src="data:image/png;base64,{{ emphysema }}" alt="Ячейка 11" style="max-width: 100%; max-height: 100%;"></td>
                <td><img src="data:image/png;base64,{{ fibrosis }}" alt="Ячейка 12" style="max-width: 100%; max-height: 100%;"></td>
                <td><img src="data:image/png;base64,{{ pleural_thickening }}" alt="Ячейка 13" style="max-width: 100%; max-height: 100%;"></td>
                <td><img src="data:image/png;base64,{{ hernia }}" alt="Ячейка 14" style="max-width: 100%; max-height: 100%;"></td>
            </tr>
        </table>

    </div>
  </form>
<!-- Конец области около изображения -->
</div>

<!-- Скрипты -->
    <script>
        function displayPreview() {
            const input = document.getElementById('fileInput');
            const previewImg = document.getElementById('previewImg');
            const fileName = document.getElementById('fileName');

            if (input.files && input.files[0]) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    previewImg.src = e.target.result;
                    fileName.textContent = input.files[0].name;
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

    </script>
<!-- Конец скриптам -->

</body>
</html>